* {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly: hsla(0, 0%, 100%, 0.75);
    --SlightlyWhite: hsla(0, 0%, 100%, 0.6);

    --inter: 'Inter',sans-serif;
    --lexend: 'Lexend Deca',sans-serif;
}

body {
    background-color: var(--VeryDarkBlue);
    height: 100%;
    align-items: center;
    align-content: center;
}

.container {
    position: absolute;
    background-color: var(--DarkDesaturatedBlue);
    border-radius: 1vh;
    width: 75vh;
    height: 60vh;
    margin: 20vh 40vh;
}

.photo {
    position: absolute;
    top: 0;
    left: 73vh;
    width: 65vh;
    height: 60vh;
    color: var(--SoftViolet);
}

.img {
    width: 100%;
    height: 100%;
    color: var(--SoftViolet);
    border-bottom-right-radius: 1vh;
    border-top-right-radius: 1vh;
}

.glass {
    background-color: hsl(277, 74%, 46%);
    position: absolute;
    left: 73vh;
    top: 0;
    width: 65vh;
    height: 60vh;
    opacity: 0.5;
    border-bottom-right-radius: 1vh;
    border-top-right-radius: 1vh;
}

.text {
    padding-top: 10vh;
    padding-left: 9vh;
    font-family: var(--inter);
    width: 85vh;
    height: 58.2vh;
}

.title {
    font-size: 5vh;
    padding-bottom: 4vh;
    color: var(--White);
}

.spamlol {
    color: var(--SoftViolet);
}

.mainText {
    font-size: 2vh;
    padding-bottom: 10vh;
    color: var(--SlightlyWhite);
    line-height: 1.5;
}



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    font-style: var(--lexend);
    width: 60vh;
}

#item-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--White);
    font-size: 3vh;
    font-weight: 600;
    padding-bottom: 1vh;
}

#item-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--SlightlyWhite);
    text-transform: uppercase;
    font-size: 1.7vh;
}

#item-3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--White);
    font-size: 3vh;
    font-weight: 600;
}

#item-4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--SlightlyWhite);
    text-transform: uppercase;
    font-size: 1.7vh;
}

#item-5 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--White);
    font-size: 3vh;
    font-weight: 600;
}

#item-6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--SlightlyWhite);
    text-transform: uppercase;
    font-size: 1.7vh;
}

@media screen and (min-width: 320px) {

    .photo {
        position: absolute;
        left: 0vh;
        width: 100%;
        height: 38vh;
        color: var(--SoftViolet);
    }

    .img {
        width: 100%;
        height: 100%;
        color: var(--SoftViolet);
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }

    .glass {
        background-color: hsl(277, 74%, 46%);
        position: absolute;
        left: 73vh;
        top: 0;
        width: 65vh;
        height: 60vh;
        opacity: 0.5;
        border-bottom-right-radius: 1vh;
        border-top-right-radius: 1vh;
    }

    .container {
        align-content: center;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        margin: 3vh auto;
        height: 95vh;
        justify-content: center;
        position: relative;
        background-color: var(--DarkDesaturatedBlue);
        border-radius: 1vh;
        width: 50vh;
    }
    .title {
        font-size: 4vh;
        padding-bottom: 4vh;
        color: var(--White);
        position: relative;
        top: 34vh;
        left: -27vh;
        text-align: center;
    }
    
    .mainText {
        font-size: 2vh;
        padding-bottom: 10vh;
        color: var(--SlightlyWhite);
        line-height: 1.5;
        position: relative;
        top: 38vh;
        left: -27vh;
        text-align: center;
    }
    


    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
        font-style: var(--lexend);
        width: 30vh;
        position: relative;
        top: 33vh;
        left: 1vh;
    }

    #item-1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        color: var(--White);
        font-size: 3vh;
        font-weight: 600;
        padding-bottom: 1vh;
    }
    
    #item-2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        color: var(--SlightlyWhite);
        text-transform: uppercase;
        font-size: 1.7vh;
    }
    
    #item-3 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        color: var(--White);
        font-size: 3vh;
        font-weight: 600;
    }
    
    #item-4 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        color: var(--SlightlyWhite);
        text-transform: uppercase;
        font-size: 1.7vh;
    }
    
    #item-5 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        color: var(--White);
        font-size: 3vh;
        font-weight: 600;
    }
    
    #item-6 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        color: var(--SlightlyWhite);
        text-transform: uppercase;
        font-size: 1.7vh;
    }
}


/*.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

[X] - Very dark blue (main background): hsl(233, 47%, 7%)
[X] - Dark desaturated blue (card background): hsl(244, 38%, 16%)
[X] - Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

[X] - White (main heading, stats): hsl(0, 0%, 100%)
[X] - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
[X] - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

[X] - Font size: 15px

### Font

[OK] - Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

[OK] - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400